@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Primary palette */
  --color-warmBlack: #3a3845;
  --color-beigePeach: #f7ccac;
  --color-lightBrown: #c69b7b;
  --color-green: #826f66;

  /* Neutral colors */
  --color-neutral100: #ffffff;
  --color-neutral200: #f7f6f5;
  --color-neutral300: #e5e5e5;
  --color-neutral400: #cac9cf;
  --color-neutral500: #a6a6a8;
  --color-neutral600: #807f86;
  --color-neutral700: #595667;
  --color-neutral800: #19213d;

  /* Font */
  --font-Inter: "Inter", sans-serif;
  --font-Garamond: "EB Garamond", serif;

  /* Font Sizes */
  --text-Display-12: 96px;
  --text-Display-12--line-height: 96px;
  --text-Display-12--font-weight: 400;

  --text-Display-11: 72px;
  --text-Display-11--line-height: 72px;
  --text-Display-11--font-weight: 400;

  --text-Display-10: 60px;
  --text-Display-10--line-height: 60px;
  --text-Display-10--font-weight: 400;

  --text-Display-9: 48px;
  --text-Display-9--line-height: 48px;
  --text-Display-9--font-weight: 400;

  --text-Display-8: 36px;
  --text-Display-8--line-height: 40px;
  --text-Display-8--font-weight: 400;

  --text-Display-7: 30px;
  --text-Display-7--line-height: 36px;
  --text-Display-7--font-weight: 400;

  --text-Display-6: 24px;
  --text-Display-6--line-height: 32px;
  --text-Display-6--font-weight: 400;

  --text-Display-5: 20px;
  --text-Display-5--line-height: 28px;
  --text-Display-5--font-weight: 400;

  --text-Display-4: 18px;
  --text-Display-4--line-height: 24px;
  --text-Display-4--font-weight: 400;

  --text-Display-3: 16px;
  --text-Display-3--line-height: 22px;
  --text-Display-3--font-weight: 400;

  --text-Display-2: 14px;
  --text-Display-2--line-height: 20px;
  --text-Display-2--font-weight: 400;

  --text-Display-1: 12px;
  --text-Display-1--line-height: 18px;
  --text-Display-1--font-weight: 400;

  /* Body */
  --text-Paragraph-Large: 18px;
  --text-Paragraph-Large--line-height: 28px;
  --text-Paragraph-Large--font-weight: 400;

  --text-Paragraph-Medium: 16px;
  --text-Paragraph-Medium--line-height: 24px;
  --text-Paragraph-Medium--font-weight: 400;

  --text-Paragraph-Default: 14px;
  --text-Paragraph-Default--line-height: 22px;
  --text-Paragraph-Default--font-weight: 400;

  --text-Paragraph-Small: 12px;
  --text-Paragraph-Small--line-height: 18px;
  --text-Paragraph-Small--font-weight: 400;

  /* Headings */
  --text-Heading-12: 96px;
  --text-Heading-12--line-height: 96px;
  --text-Heading-12--font-weight: 400;

  --text-Heading-11: 72px;
  --text-Heading-11--line-height: 72px;
  --text-Heading-11--font-weight: 400;

  --text-Heading-10: 60px;
  --text-Heading-10--line-height: 60px;
  --text-Heading-10--font-weight: 400;

  --text-Heading-9: 48px;
  --text-Heading-9--line-height: 48px;
  --text-Heading-9--font-weight: 400;

  --text-Heading-8: 36px;
  --text-Heading-8--line-height: 40px;
  --text-Heading-8--font-weight: 400;

  --text-Heading-7: 30px;
  --text-Heading-7--line-height: 36px;
  --text-Heading-7--font-weight: 400;

  --text-Heading-6: 24px;
  --text-Heading-6--line-height: 32px;
  --text-Heading-6--font-weight: 400;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-icons: var(--icons);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --icons: #595667;
}

.dark,
:root[class~="dark"] {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --icons: oklch(0.985 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-Inter;
  }

  h1 {
    @apply font-Garamond;
  }
  h2 {
    @apply font-Garamond;
  }
  h3 {
    @apply font-Garamond;
  }
  h4 {
    @apply font-Garamond;
  }
  h5 {
    @apply font-Garamond;
  }
  h6 {
    @apply font-Garamond;
  }
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}
